<h1>Buttons</h1>

<mat-tab-group>
  <mat-tab label="Example">
    <h3>Some Buttons</h3>

    <code-viewer path="button/demo-code/basic-button-demo.component.html"></code-viewer>
    <code-viewer path="button/demo-code/basic-button-demo.component.ts"></code-viewer>

    <basic-button-demo></basic-button-demo>
  </mat-tab>
  <mat-tab label="Documentation">
    <h3>Angular Documentation</h3>
    <a href="https://material.angular.io/components/button/" target="_blank">https://material.angular.io/components/button/</a>
  </mat-tab>
</mat-tab-group>
