@import '~highlight.js/styles/github.css';

app-root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-content {
  padding: 2rem;

  .mat-expansion-panel {
    background: none;
    box-shadow: none;
  }

  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
    background: none;
  }

  .mat-card {
    border: 1px solid lightgray;
  }
}
